<footer class="text-center text-lg-start bg-light text-muted cont-footer">
  <div class="cont-footer">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom mt-3">

      <div class="me-5 d-none d-lg-block">
        <span>Siguenos en nuestras redes sociales.</span>
      </div>
  
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>

    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, assumenda labore? Labore ducimus quas aut perspiciatis. Cupiditate velit maiores eveniet odit nobis facere, fugiat, illo accusamus inventore, nam cumque quo.
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <p>
              <i class="fas fa-home me-3"></i> 
              Buenaventura, Colombia
            </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              ejemplo@gmail.com
            </p>
            <p>
              <i class="fas fa-phone me-3"></i>
               + 57 11111111
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4 footer-copy">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">Practica dev Junior</a>
    </div>
  </div>

  </footer>
  